#main-page{
    background-color: #fff !important;
    padding:  0;
    margin-top: 75px;
}
table td,th{
    padding-left: 20px !important;
    vertical-align: middle !important;
}
.wrapper{
    display: none;
}
#loader{
    position: absolute;
    top: calc(50% - 20px);
    left: 45%;
}   
.noOrders{
    position: fixed;
    width: 100%;
    top: 50%;
    left: 42%;
}
@media only screen and (max-width: 600px) {
    table td,th{
        padding-left: 5px !important;
        padding-right: 5px !important;
        vertical-align: middle !important;
    }
    #loader{
        position: absolute;
        top: calc(50% - 20px);
        left: 40%;
    }
    .noOrders{
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
    }
}