#header{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f5f5f5;
    padding: 1px 5px 5px 10px;
}
#header .logout-btn{
    background: rgba(0,0,0,0);
    border: 2px solid #fff;
    float:right;
    border-radius:5px;
    font-weight: bold;
    margin-top: -10px;
    padding: 5px;
    font-size: 10pt;    
}
#header .logout-btn:hover{
    color: #8E2DE2;
    background: #f5f5f5;
}